@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clip-path-polygon {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.gradient-bg {
    background: linear-gradient(90deg, #020618 0%, #312c85 50.5%, #020618 100%);
}
.white-shadow {
    box-shadow: 0px 27px 17px -6px rgba(255, 255, 255, 1);
}
.purple-shadow {
    box-shadow: 0px -15px 3px 0px rgba(55, 42, 172, 0.8);
}
